  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
    <small>Copyright &copy; <%= link_to "sunpochin", "https://linkedin.com/in/sunpochin", class: "text-white" %> </small><br>
    <small>Github repo  <%= link_to "github", "https://github.com/sunpochin/ruby-on-rails-alpha-blog", class: "text-white" %> </small>
    </div>
  </footer>
